# files to ignore

# data
data/
sample_data/

# system
.env
.ipynb_checkpoints/
.DS_Store

# python
feature_generation/__pycache__/
spark_pipelines/__pycache__
**/__pycache__/

# models
models/lightning_logs
personal_research/
HFT_Research/

# logs
lightning_logs


# test
test/
